body{
    background: rgb(152, 212, 230);
    /* font-family: rgb(185, 45, 45); */
    color: rgb(20, 2, 2);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h1{
    font-size: 2em;
    text-align: center;
}